In [46]:
import numpy as np
import pandas as pd

In [47]:
dt=pd.read_csv("SPAM-210331-134237.csv")
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [48]:
dt['spam']=dt['type'].map({'spam': 1 , 'ham': 0}).astype (int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [49]:
print("Columns in the given data:")
for col in dt.columns:
    print(col)

Columns in the given data:
type
text
spam

In [50]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)
t=len(dt['text'])
print("NO OF ROWS IN liked COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116
NO OF ROWS IN liked COLUMN: 116

# Tokenization

In [51]:
dt['text'][1]#before

'Ok lar... Joking wif u oni...'

In [52]:
def tokenizer (text):
    return text.split()

In [53]:
dt['text']=dt['text'].apply(tokenizer)

In [54]:
dt['text'][1]#after

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

# Stemming

In [55]:
dt['text'][1]#before

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [56]:
from nltk.stem.snowball import SnowballStemmer
porter= SnowballStemmer("english",)

In [57]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [58]:
dt['text']=dt['text'].apply(stem_it)

In [59]:
 dt['text'][1] #after stemming

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

# Lemmatization

In [60]:
dt['text'][1]#before

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [61]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [62]:
def lemmit_it(text):
    return[lemmatizer.lemmatize(word,pos='a') for word in text]

In [63]:
dt['text']=dt['text'].apply(lemmit_it)

In [64]:
dt['text'][1] #after lemmiting

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

# Stopword Removal

In [65]:
dt['text'][17] #before

['eh',
 'u',
 'rememb',
 'how',
 '2',
 'spell',
 'his',
 'name...',
 'yes',
 'i',
 'did.',
 'he',
 'v',
 'naughti',
 'make',
 'until',
 'i',
 'v',
 'wet.']

In [66]:
#from nitk.corpus import stopwords 
#print (stopwords. words (english')) 
#set(['a', 't', 'd', 'y']);

In [67]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [68]:
def stop_it(text): 
    review = [word for word in text if not word in stop_words] 
    return review

In [69]:
dt['text']=dt['text'].apply(stop_it)

In [70]:
dt['text'][100] #after

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [71]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [72]:
dt['text']=dt['text'].apply(' '.join)

In [73]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

# Transform Text Data into TDF/TF-IDF Vectors

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer 
tfidf=TfidfVectorizer()
y=dt.spam.values 
x=tfidf.fit_transform(dt['text'])

In [75]:
from sklearn.model_selection import train_test_split 
x_train,x_text,y_train,y_text=train_test_split(x,y, random_state=1, test_size=0.2, shuffle=False)

# Classification Using Logistic Regression

In [76]:
from sklearn.linear_model import LogisticRegression 
clf=LogisticRegression() 
clf.fit(x_train,y_train) 
y_pred=clf.predict(x_text) 
from sklearn.metrics import accuracy_score 
acc_log = accuracy_score(y_pred, y_text)*100 
print("accuracy:",acc_log)

accuracy: 87.5

# Classification Using LinearSVC Accuracy

In [77]:
from sklearn.svm import LinearSVC

linear_svc= LinearSVC(random_state=0) 
linear_svc.fit(x_train, y_train)
y_pred=linear_svc.predict(x_text) 
acc_linear_svc=accuracy_score(y_pred, y_text)*100 
print("accuracy:", acc_linear_svc)

accuracy: 87.5

# ------XXXXXXXXXX-----

# For downloading nltk package

In [78]:
import nltk

In [79]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True